In [13]:
import pandas as pd
import numpy as np

In [14]:
# Criando series
pd.Series(np.random.randn(5), index={'a','b','c','d','e'})

c    1.237914
d    0.927497
b   -0.563138
e    0.334467
a    0.296819
dtype: float64

In [15]:
s = pd.Series(np.random.randn(5), index={'a','b','c','d','e'})

In [16]:
print(s)

c    1.053894
d   -1.250180
b   -0.178362
e   -0.551995
a   -1.447561
dtype: float64

In [17]:
print(s[0])

1.05389416559

In [18]:
print(s[:3])

c    1.053894
d   -1.250180
b   -0.178362
dtype: float64

In [19]:
print (s[0])
print ("\n")
print (s[-1])

1.05389416559


-1.44756126187

In [20]:
df = pd.DataFrame(s, columns = {'Column 1'})
df

   Column 1
c  1.053894
d -1.250180
b -0.178362
e -0.551995
a -1.447561

In [21]:
df{'Column 2'} = df('Column 1') * 4
df

SyntaxError: invalid syntax (<ipython-input-21-57306e9d6af3>, line 1)

In [22]:
df['Column 2'] = df['Column 1'] * 4
df

   Column 1  Column 2
c  1.053894  4.215577
d -1.250180 -5.000721
b -0.178362 -0.713447
e -0.551995 -2.207979
a -1.447561 -5.790245

In [23]:
df.sort_values(by = 'Column 2')

   Column 1  Column 2
a -1.447561 -5.790245
d -1.250180 -5.000721
e -0.551995 -2.207979
b -0.178362 -0.713447
c  1.053894  4.215577

In [24]:
df[df['Column 2'] <= 2]

   Column 1  Column 2
d -1.250180 -5.000721
b -0.178362 -0.713447
e -0.551995 -2.207979
a -1.447561 -5.790245

In [25]:
df.describe()

       Column 1  Column 2
count  5.000000  5.000000
mean  -0.474841 -1.899363
std    0.997274  3.989095
min   -1.447561 -5.790245
25%   -1.250180 -5.000721
50%   -0.551995 -2.207979
75%   -0.178362 -0.713447
max    1.053894  4.215577